{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ .Render "summary" }}

<div class="adj mrow">
  <div class="mcol c6">
    {{ with .Site.RegularPages.Prev . }}
      <header>前の記事</header>
    <!-- セクションごとに前の記事を表示するなら with .Parent.RegularPages.Prev . -->
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
  <div class="mcol c6">
    {{ with .Site.RegularPages.Next . }}
      <header>次の記事</header>
    <!-- セクションごとに次の記事を表示するなら with .Parent.RegularPages.Next . -->
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
</div>

{{ partial "related.html" . }}
{{ template "_internal/disqus.html" . }}
{{ end }}
