<aside class="share">
  <p class="share_title">シェアする</p>
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitterでシェア" class="tw" target="_blank" rel="noopener nofollow"><img src="/blog/images/share/share_twitter.svg" alt="Twitterでシェア"></a>
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebookでシェア" class="fb" target="_blank" rel="noopener nofollow"><img src="/blog/images/share/share_facebook.svg" alt="Facebookでシェア"></a>
  <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Pocketに保存" class="pk" target="_blank" rel="noopener nofollow"><img src="/blog/images/share/share_pokect.svg" alt="Pocketに保存"></a>
  <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" class="ht" target="_blank" rel="noopener nofollow"><img src="/blog/images/share/share_hatebu.svg" alt="はてなブックマークでシェア"></a>
  <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}" title="LINEでシェア" class="ln" target="_blank" rel="noopener nofollow"><img src="/blog/images/share/share_line.svg" alt="LINEでシェア"></a>
  <a data-pin-do="buttonBookmark" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/" title="Pinterestでシェア" ><img src="/blog/images/share/share_pinterest.svg" alt="Pinterestでシェア"/></a>
</aside>
