<figure{{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }}>
  <a href="{{ .Get "src" | absURL }}" data-lightbox="group"><img src="{{ .Get "src" | absURL }}" alt="{{ .Get "caption" }}"{{ with (.Get "w") }} width="{{ . }}"{{ end }}{{ with (.Get "h") }} height="{{ . }}"{{ end }}  ></a>
  <figcaption class="caption">
    {{ if .Get "title"}}
    <h4>{{ .Get "title" }}</h4>
    {{ end }}
    {{ if .Get "href" }}
    <p>（出典：</p><a href="{{ .Get "href" }}" rel="noopener" target="_blank">{{ .Get "caption" }}</a><p class="end">）</p>
    {{ else }}
    {{ .Get "caption" }}
    {{ end }}
  </figcaption>
</figure>
